BodyPartSegmentation/Library
BodyPartSegmentation/Logs
BodyPartSegmentation/Temp

AssemblySpace/Library
AssemblySpace/Logs
AssemblySpace/Temp

mesh_tools/__pycache__

mmh_tools/__pycache__

opensim.log
osim_model.asv
plot_osim_co.asv
read_data.asv

submeshes
kiku_model.osim

manuscript/manuscript.aux
manuscript/manuscript.bbl
manuscript/manuscript.blg
manuscript/manuscript.log
manuscript/manuscript.pdf
manuscript/manuscript.synctex.gz
manuscript/manuscript.out
manuscript/manuscript.loc
manuscript/manuscript.soc

blender/blender_manschette.zip
blender/blender_tutorial_manschette.mp4
